.input-field label {
  color: rgb(128, 10, 98);
}

.input-field input[type="password"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #322792 !important;
}

.input-field input[type="password"]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(128, 10, 98) !important;
  box-shadow: 0 1px 0 0 rgb(128, 10, 98) !important;
}
