.input-field label {
  color: rgb(128, 10, 98);
}

.input-field input[type="text"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #322792 !important;
}

.input-field input[type="text"]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(128, 10, 98) !important;
  box-shadow: 0 1px 0 0 rgb(128, 10, 98) !important;
}

.card {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 5;
  color: white;
}
